<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function submission(){
            var startend = {'start':0,'end':1};
            var start = document.getElementById('start').value;
            var end = document.getElementById('end').value;
            startend.start = start;
            startend.end = end;
            console.log(JSON.stringify(startend));
            sessionStorage.setItem('startend',JSON.stringify(startend));
            window.location.replace('showValue');
        }
        
        
        
    </script>
</head>
<body>
    <div id='showvalue'>
        <p>Select the time span you want to monitor:</p>
        Start: <input type = 'time' id = 'start' value = '12:00'></p>
        End: <input type = 'time' id = 'end' value = '12:00'></p>
        <button onclick = 'submission()'>Submit</button>
    </div>
</body>
</html>